:root{
  --main--color:#3d3123;
}


*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
 
 body{
 background-color:var(--main--color) ;
 font-family: 'Poppins', sans-serif;
 }
.stock-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 35%;
    margin: auto;
    height: 92.5vh;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  th, td {
    padding: 12px;
    border: 1px solid #ccc;
    text-align: left;
  }
  
  th {
    background-color: #f2f2f2;
  }