*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
  background: linear-gradient(90deg,rgb(0 0 0 / 40%),rgb(10 10 10 / 40%)) ,url(./image/istock.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    width: 100%;
    height: 100vh;
    overflow-y: hidden;
}
   .main{
    text-align: center;
    color: aliceblue;
    margin-top: 7em;
    font-size: xx-large;
}
   

img{
    width: 100%;
    height: 100%;
}


.navbar {
  background-color: #492d17;
  height: 124px;
  width: 50%;
  margin-left: auto;
  display: flow;
  padding: 30px;
  border-radius: 58px;
  margin-top: 4em;
  text-align: center;
  align-items: center;
  overflow: hidden;
}
  
  .navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .navbar a:hover {
    background-color: #ddd;
    color: black;
  }
   