* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(90deg, rgb(0 0 0 / 40%), rgb(18 7 0)),
    url(./image/istock.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  width: 100%;
  height: 100vh;
  overflow-y: hidden;
}
/* .main {
  text-align: justify;
  color: aliceblue;
  font-size: xx-large;
} */

img {
  width: 100%;
  height: 100%;
}

.navbar {
  background-color: #fff;
  height: 124px;
  width: fit-content;
  margin-left: auto;
  display: flex;
  padding: 30px;
  border-radius: 20px;
  margin-top: 4em;
  text-align: center;
  align-items: center;
}

.navbar a {
  float: left;
  display: block;
  color: #492d17;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar a:hover {
  background-color: #665858;
  color: black;
}
