:root {
  --main--color: #3d3123;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: center;
  background-color: var(--main--color);
}

.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Poppins;
  gap: 0;
  padding: 0;
  margin-bottom: -2rem;
}

.logo h2 {
  margin-top: -1rem;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border-radius: 20px;
  margin-top: 1rem;
}
#containing {
  display: flex;
  flex-direction: column;
  padding: 0 2rem 0 2rem;
}
#containing label {
  margin-bottom: -1rem;
}

#signup-form {
  display: flex;
  font-family: Poppins;
  justify-content: center;
  font-size: larger;
  flex-direction: column;
  width: 100%;
}

input {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin-bottom: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  background-color: var(--main--color);
  color: #fff;
  padding: 12px;
  border: none;
  border-radius: 5px;
  width: 100%;
}

button:hover {
  background-color: white;
  color: var(--main--color);
  border: 2px solid var(--main--color);
}
